body{
   /* background-image: url("src\assets\Images\background.jpg"); */
   background-color: white;
 
   font-family: 'Open Sans', arial, sans-serif;
   font-weight: 700;
   

}

.nav-link {
   text-transform: uppercase;
}