
  <header class="main-header">
      <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>M</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Maanavar</b>LMS</span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">

        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <img src="assets/Images/kalvi_logo.jpg" style="width: 100px; height: 40px;" alt="">

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu mr-3">
                    <!-- Menu toggle button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-envelope"></i><span class="label label-success">4</span></a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <!-- inner menu: contains the messages -->
                            <ul class="menu">
                                <li>
                                    <!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <!-- User Image -->
                                            <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        </div>
                                        <!-- Message title and timestamp -->
                                        <h4>
                                            Support Team
                                            <small><i class="fas fa-clock"></i> 5 mins</small>
                                        </h4>
                                        <!-- The message -->
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <!-- end message -->
                            </ul>
                            <!-- /.menu -->
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">Hi Senthil</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                            <p>
                                Senthilkumar Sivaraman 
                                <small>Computer Science - 3rd Semester</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!--<li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>-->
             </ul>
        </div>
     </nav>
   </header>

    <!-- Siderbar Navigation -->
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar bg-light">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
          <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
          <div class="pull-left image">
              <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info text-dark">
              <p>Senthilkumar Sivaraman</p>
              <a class="text-primary" href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search here...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->


        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <!--Optionally, you can add icons to the links-->              
            <li class="active"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-home text-warning fa-lg mr-3"></i><span class="d-none d-md-inline">Dashboard</span></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-chalkboard text-warning fa-lg mr-3"></i><span class="d-none d-md-inline">Courses Enrolled</span></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-user-clock text-warning fa-lg mr-3"></i><span class="d-none d-md-inline">Upcoming Deadlines</span></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-book text-warning fa-lg mr-3"></i><span class="d-none d-md-inline">E-Library</span></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-envelope text-warning fa-lg mr-3"></i><span class="d-none d-md-inline">Messages</span></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-table text-warning fa-lg mr-3"></i><span class="d-none d-md-inline">Sticky Notes</span></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-bullhorn text-warning fa-lg mr-3"></i><span class="d-none d-md-inline">Announcements</span></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark p-3 mb-2 sidebar-link"><i class="fas fa-wrench text-warning fa-lg mr-3"></i><span class="d-none d-md-inline">Settings</span></a></li>            
        </ul> 
                     
      </section>
  </aside>
   <!-- End of Side and Top bar -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <!--Content Header (Page header)--> 
      <!--<section class="content-header">
          <h1>
              Page Header
              <small>Optional description</small>
          </h1>
          <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
              <li class="active">Here</li>
          </ol>
      </section>-->

      <!-- Main content -->
      <section class="content container-fluid">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ab tenetur natus ratione unde et aliquid cumque laboriosam, incidunt reprehenderit at molestiae rem sunt dolorem adipisci asperiores eius dicta repellendus?</h2>
      

      </section>
    <!-- /.content -->

<!-- /.content-wrapper -->
  