
<div class="container mt-5">
    <div *ngIf="!userlogMode" style="text-align: center">
      <h1>Your Classroom on your screen</h1>
      <p class="lead">Login to attend classes, check your assignments and grades </p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2" (click)="userlogToggle()">Register</button>
        <button class="btn btn-info btn-lg">Learn more</button>
      </div>
    </div>
  
    <div *ngIf="userlogMode" class="container">
      <div class="row justify-content-center">
        <div class="col">
          <app-userlog></app-userlog>
        </div>
      </div>
    </div>
  </div>