<div class="search-bar">
    <div class="container">
      <div class="input-bar">
      <h1>Start typing your query...</h1>
      <input type="text" name="country" id="autocomplete" placeholder="How can we help? ie. booking, baggage, carrier"/>
      </div>
      What others search
      <a href="#">book a flight</a>
      <a href="#">baggage</a>
      <a href="#">carrier</a>
    </div>
  </div>
  
  <div class="container row reverse">
    <div class="col-lg-8">
      <h1>Recommended Searches</h1>
      <div class="search-archive">
  
        <div class="list-item icon icon-flight">
          <div>
          <h3>Buying insurance after you book</h3>
          <p>Purchase travel insurance through Manage My Booking after your reservation has been confirmed.</p>
          </div>
        </div>
        
        <div class="list-item icon icon-flight">
          <div>
  
          <h3>Buying insurance after you book</h3>
          <p>Purchase travel insurance through Manage My Booking after your reservation has been confirmed.</p>
          </div>
        </div>
        
      </div>
      <p class="no-answer-blurb">
        <strong>Answer not here?</strong> <a href="">Contact us through our web form.</a> 
      </p>
    </div>
    <div class="col-lg-4 sidebar">
      <h5>Popular Categories</h5>
      <ul>
        <li class="search-flights">
          <a href="">Searching for flights</a>
        </li>
      </ul>
      
      <h5>Before you book</h5>
   
      <ul>
        <li class="search-flights">
          <a href="">Searching for flights</a>
        </li>
      </ul>
      
      <h5>After you book</h5>
   
      <ul>
        <li class="search-flights">
          <a href="">Searching for flights</a>
        </li>
      </ul>
      
    </div>
  </div>