<div class="search-bar">
    <div class="container">
      <div class="input-bar">
      <h1 class="h1head">Start typing your query...</h1>
      <input class="searchbox" type="text" name="country" id="autocomplete" placeholder="How can we help? ie. login, password, assignment submission"/>
      </div>
      <span class="spantext">What others search</span>
      
      <a class="searchlinks" href="#">Login Error</a>
      <a class="searchlinks" href="#">Assignments</a>
      <a class="searchlinks" href="#">Grade</a>
    </div>
  </div>
  
  <div class="container row reverse">
    <div class="col-lg-8 col-sm-xs-3">
      <h1>Recommended Searches</h1>
      <div class="search-archive">
  
        <div class="list-item">
          <div>
          <h3>Creating a new account</h3>
          <p>Get your usename from your institution at the time of joining and with email create your account</p>
          </div>
        </div>
        
        <div class="list-item">
          <div>
  
          <h3>Resetting the password</h3>
          <p>Purchase travel insurance through Manage My Booking after your reservation has been confirmed.</p>
          </div>
        </div>
        
      </div>
      <p class="no-answer-blurb">
        <strong>Answer not here?</strong> <a href="">Contact us through our web form.</a> 
      </p>
    </div>
    <div class="col-lg-4 col-sm-xs-3 sidebar">
      <h5>Assignments</h5>
      <ul>
        <li class="search-flights">
          <a href="">Submitting Assignments</a>
        </li>
      </ul>
      
      <h5>Grades</h5>
   
      <ul>
        <li class="search-flights">
          <a href="">Checking your grades</a>
        </li>
      </ul>
      
      <h5>Transcripts</h5>
   
      <ul>
        <li class="search-flights">
          <a href="">Downloading your transcripts</a>
        </li>
      </ul>
      
    </div>
  </div>